
/* All items; no padding, no margin; extend width of page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Changes the background for the header, hero, benefits and footer */
body {
    background-color: #d9dcd6;
}

/* Changed the header to white font and teal background */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Increased size of the header */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changed color of SEO */
.header h1 .seo {
    color: #d9dcd6;
}

/* Moved header bullets (in the div) to the right */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removed list style (in unnumbered list in the div in the header) */
.header div ul {
    list-style-type: none;
}

/* Moved list inline and to the left */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Removed the underline and coloring */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Added centered background image with 25px margin at bottom */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Float SEO and Social Media Marketing images to the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Float Online reputation mgmt image to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Utilize 75% of the width, 20px from the left */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Create a side bar of benefits on the right side of the page */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* White and 32 px from the bottom */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}


/* White and 32 px from the bottom */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* White and 32 px from the bottom */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* White and 32 px from the bottom */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Centered and 10 px from the bottom */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Centered and 10 px from the bottom */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Centered and 10 px from the bottom */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* 20 px from the bottom and 300 px high; blue background */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* 20 px from the bottom and 300 px high; blue background */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* 20 px from the bottom and 300 px high; blue background */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
 /* Max 200 px high */
.search-engine-optimization img {
    max-height: 200px;
}

 /* Max 200 px high */
.online-reputation-management img {
    max-height: 200px;
}

 /* Max 200 px high */
.social-media-marketing img {
    max-height: 200px;
}
/* 36 px font */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* 36 px font */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* 36 px font */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Center the text of the footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
 /* 20 px footer */
.footer h2 {
    font-size: 20px;
}

